<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <style>
            



    </style>
</head>
<body>
  <div class="xop-banner"></div>
    <div class="site-container">
       <article class="article-card">
        <figure class="article-image">
            <i class="fa-regular fa-comment" style="color: #e3e7ed;"></i>
        </figure>
        <div class="article-content">
            <h3 class="card-title"> App Consultancy <br> We help you define the best features for your app.</h3>
        </div>
       </article>
    </div>  
</body>
</html>